In [5]:
def vol_sph(num):
    return 4/3*3.14*(num**3)

In [6]:
vol_sph(2)

33.49333333333333

In [14]:
def ran_check(num,low,high):
    if num >= low and num <= high or num <= low and num >= high:
        return '{} is in the range from {} to {}'.format(num, low, high)
    else:
        return '{} is not in the range from {} to {}'.format(num, low, high)

In [15]:
ran_check(2,5,0)

'2 is in the range from 5 to 0'

In [16]:
def up_low(s):
    list_1 = s.split()

In [21]:
'saurabh'.islower()

True

In [23]:
'S'.isupper()

True

In [24]:
'I am a Saint'.isupper()

False

In [25]:
for a in 'I am a Saint':
    print(a)

I

a
m

a

S
a
i
n
t

In [28]:
for a in 'I am a Saint':
    if a.isupper() == True:
        print(a)
    else:
        print ('NO')

I
NO
NO
NO
NO
NO
NO
S
NO
NO
NO
NO

In [31]:
def up_low(text):
    count = {"upper": 0, "lower" : 0}
    for a in text: 
        if a.isupper():
            count["upper"] +=1
        elif a.islower():
            count["lower"] +=1
        else:
            pass
    
    return count

In [32]:
up_low("Hello I am ok")

{'upper': 2, 'lower': 8}

In [33]:
up_low('THis is a lot of text, a lot of work needs to be done. Requires the highest level of planning')

{'upper': 3, 'lower': 69}

SyntaxError: EOL while scanning string literal (<ipython-input-35-f392d8586ae3>, line 1)

Write a function which returns the unique numbers in a list

In [59]:
def unq(lst):
    for i in range(0, (len(lst)-1)):
        for j in range((i+1), len(lst)):
            if lst[i]==lst[j]:
                lst.pop(j)
            else:
                pass
    return lst

In [60]:
unq([1,1,2,3,4])

IndexError: list index out of range

In [64]:
s = [0,1,2,3,4,5,6]

In [49]:
for i in range(0, len(s)):
    print(s[i])

1
1
2
3
4
5
6

In [66]:
s.pop(2)

2

In [67]:
s

[0, 1, 3, 4, 5, 6]

In [63]:
s

[1, 1, 3, 4, 5, 6]

In [70]:
def unique_list(lst):
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x

In [71]:
unique_list([1,1,1,1,1,1,1,4,4,4,5,5,6,7,8,8,8,8,9,9,0,0,1])

[1, 4, 5, 6, 7, 8, 9, 0]

Write a function to multiply all the numbers in a list

In [72]:
def mult(l):
    m = 1
    for a in l:
        m = m*a
    return m

In [75]:
mult([1,1,2,-3, 9990])

-59940

In [96]:
def palindrome(s):
    s1 = s.split()
    if len(s1)==1:
        return s == s[::-1]
    else:
        return ''.join(s.split()) == ''.join(s.split())[::-1]

In [97]:
palindrome('nurses run')

True

In [100]:
palindrome('helleh0')

False

In [102]:
palindrome(s)

False

In [103]:
s = 'Frank Goo'

In [104]:
s[::-1]

'ooG knarF'

In [105]:
set([1,2,3,4])

{1, 2, 3, 4}

In [106]:
set('Hello')

{'H', 'e', 'l', 'o'}

In [107]:
set([1,2,3,44,4,4,4,1,2,3,4,5,4,3])

{1, 2, 3, 4, 5, 44}

In [108]:
set('Hello')

{'H', 'e', 'l', 'o'}

In [130]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    str2 = ''.join(str1.split())
    return set(str2.lower())==set(alphabet)

In [111]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [133]:
ispangram('abcdefgk lmnopqrstuvwxy Zhij')

True

In [132]:
q = 'abcdefgk lmnopqrstuvwxy Zhij'

In [124]:
''.join(q.split())

'abcdefgklmnopqrstuvwxyzhij'

In [134]:
ispangram('The quick brown fox jumps over the lazy dog')

True

In [137]:
import string

def ispangram1(str1, alphabet=string.ascii_lowercase):
    return set(str1.lower())>=set(alphabet)

In [138]:
ispangram1('The quick brown fox jumps over the lazy dog')

True

In [2]:
se = list(filter(lambda x : x%2 == 0, [1,2,3,4]))

In [3]:
se

[2, 4]

In [4]:
dictionary = {"upper":0 , "lower":1}

In [9]:
print(dictionary["lower"]+1)

2