In [6]:
if A==2:
    print("ITS TRUE")
else:
    print("FALSE!!")

FALSE!!

In [7]:
my_iterable = [1,2,3]

In [10]:
i = 1:3

SyntaxError: invalid syntax (<ipython-input-10-49249ee8fdb8>, line 1)

In [11]:
i = 1:3

SyntaxError: invalid syntax (<ipython-input-11-49249ee8fdb8>, line 1)

In [12]:
for jelly in my_iterable:
    print(jelly)

1
2
3

In [13]:
for jelly in my_iterable:
    print("Hello")

Hello
Hello
Hello

In [21]:
for num in my_iterable: 
    if num % 2 == 1:
        print(f"odd number: {num}")
    else:
        print(f"even number:{num}")

odd number: 1
even number:2
odd number: 3

In [25]:
list_sum = 0

for num in my_iterable:
    list_sum = list_sum + num

    print(list_sum)

1
3
6

In [27]:
my_string = 'Saurabh Vaichal'

for jelly in my_string: 
    print(jelly)

S
a
u
r
a
b
h

V
a
i
c
h
a
l

In [28]:
for _ in my_string: 
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [30]:
i = [('a','b'),('c','d'),('e','f')]

In [32]:
for j in i:
    print(j)

('a', 'b')
('c', 'd')
('e', 'f')

In [35]:
for (a,b) in i: 
    print(a)
    print(a) ##tuple unpacking

a
a
c
c
e
e

In [37]:
d = {'k1': 1, 'k2': 2, 'k3':4}

for k in d: 
    print(k)

k1
k2
k3

In [42]:
d = {'k1': 1, 'k2': 2, 'k3':4}

for item in d.items(): 
    print(item)

('k1', 1)
('k2', 2)
('k3', 4)

In [44]:
d = {'k1': 1, 'k2': 2, 'k3':4}

for k in d.k(): 
    print(k)

AttributeError: 'dict' object has no attribute 'k'

In [49]:
d = {'k1': 1, 'k2': 2, 'k3':4}

for a,b in d.items(): ###there is no substitute for d.items, items is a attribute of 'dict'
    print(b,a)

1 k1
2 k2
4 k3

In [51]:
x = 3

while x < 6:
    print(f'current value of x = {x}')
    x = x + 1 ## also can be written as x += 1
    pass

current value of x = 3
current value of x = 4
current value of x = 5

In [52]:
for letter in 'Saurabh Vaichal':
    print(letter)

S
a
u
r
a
b
h

V
a
i
c
h
a
l

In [53]:
for letter in 'Saurabh Vaichal':
    if letter == ' ':
        continue
    print(letter)

S
a
u
r
a
b
h
V
a
i
c
h
a
l

In [54]:
for letter in 'Saurabh Vaichal':
    if letter == ' ':
        break
    print(letter)

S
a
u
r
a
b
h

In [55]:
my_list = [1,2,3,4,5,6]

In [57]:
print(my_list[1])

2

In [59]:
print(my_list[-1]) ##printing the last element in the list

6

In [63]:
list(range(1,20,3))

[1, 4, 7, 10, 13, 16, 19]

In [2]:
index_count = 0

for a in 'abcde':
    print("Index count for {} in abcde is {}".format(a, index_count))
    index_count +=1

Index count for a in abcde is 0
Index count for b in abcde is 1
Index count for c in abcde is 2
Index count for d in abcde is 3
Index count for e in abcde is 4

In [3]:
index_count = 0
word = 'abcde'

for a in 'abcde':
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [5]:
for index, letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [6]:
for a in enumerate(word):
    print(a)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [7]:
for a,b in enumerate(word):
    print(a)

0
1
2
3
4

In [9]:
for a,b in enumerate(word):
    print(b)

a
b
c
d
e

In [19]:
list1 = [1,2, 3, 4, 6]
list2= ['a', 'b', 'c']
list3 = [101, 102, 103]
print(zip(list1, list2))

<zip object at 0x0000023978D91E08>

In [20]:
for c in zip(list1, list2, list3):
    print(c)

(1, 'a', 101)
(2, 'b', 102)
(3, 'c', 103)

In [22]:
list(zip(list1,list2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [23]:
1 in [1, 2, 3]

True

In [24]:
"1" in [1,2,3]

False

In [26]:
d = {'mykey': 1, 'mykey1': 2}

In [27]:
2 in d.values()

True

In [28]:
2 in d

False

In [29]:
min(list1)*max(list1)

6

In [30]:
from random import shuffle ##shuffle is a in place function

In [31]:
mylist = [3,4,5,6,7,8,9,10]

In [32]:
shuffle(mylist)

In [33]:
mylist

[6, 10, 3, 8, 9, 5, 4, 7]

In [34]:
from random import randint

In [35]:
randint(1,59)

48

In [36]:
set.seed(1)

AttributeError: type object 'set' has no attribute 'seed'

In [37]:
set(1)

TypeError: 'int' object is not iterable

In [39]:
n = randint(0,198)
print(n)

33

In [42]:
input('hua kya?')

hua kya?9

'9'

In [43]:
float(input('hua kya? '))

hua kya? 9

9.0

In [44]:
int(input('hua kya? '))

hua kya? 9

9

In [47]:
merilist = [] #empty list hai

for a in 'are tu kaun hai':
    merilist.append(a)

In [48]:
merilist

['a', 'r', 'e', ' ', 't', 'u', ' ', 'k', 'a', 'u', 'n', ' ', 'h', 'a', 'i']

In [49]:
merilist = [] #empty list hai

mystring = 'kya ye interesting hai'

for a in mystring:
    merilist.append(a)

In [50]:
merilist

['k',
 'y',
 'a',
 ' ',
 'y',
 'e',
 ' ',
 'i',
 'n',
 't',
 'e',
 'r',
 'e',
 's',
 't',
 'i',
 'n',
 'g',
 ' ',
 'h',
 'a',
 'i']

In [54]:


mystring = 'kya ye interesting hai'


merilist = [a for a in mystring]

In [55]:
merilist

['k',
 'y',
 'a',
 ' ',
 'y',
 'e',
 ' ',
 'i',
 'n',
 't',
 'e',
 'r',
 'e',
 's',
 't',
 'i',
 'n',
 'g',
 ' ',
 'h',
 'a',
 'i']

In [61]:
mylist2 = [y for y in 'word2']

In [62]:
mylist2

['w', 'o', 'r', 'd', '2']

In [64]:
mylist3 = [num for num in range(1,9,3)]

In [65]:
mylist3

[1, 4, 7]

In [73]:
mylist3 = [(num**(1/2)) for num in range(1,9,3)]

In [74]:
mylist3

[1.0, 2.0, 2.6457513110645907]

In [83]:
mylist3 = [(num**(0.5)) for num in range(1,10) if num%2 == 0]

In [84]:
mylist3

[1.4142135623730951, 2.0, 2.449489742783178, 2.8284271247461903]

In [95]:
celcius = [25, 33, 38, 42, 45, 48]

farenheit = [9/5*num+32 for num in celcius]

In [96]:
farenheit

[77.0, 91.4, 100.4, 107.60000000000001, 113.0, 118.4]

In [107]:
farenheit = [74, 76, 80, 90, 100]
celsius = [((num-32)/9*5) for num in farenheit]

In [108]:
celsius

[23.333333333333336,
 24.444444444444446,
 26.666666666666664,
 32.22222222222222,
 37.77777777777778]

In [109]:
farenheit = []
for temp in celsius: 
    farenheit.append(9/5*temp +32)

farenheit

[74.0, 76.0, 80.0, 90.0, 100.0]

In [113]:
x = [1,2,3]
y = [1, 10, 100]
mylist = [a*b for a in x for b in y]

In [111]:
mylist

[1, 10, 100, 2, 20, 200, 3, 30, 300]

In [115]:
help(split())

NameError: name 'split' is not defined

In [122]:
name = 'Saurabh Vaichal'

In [123]:
name.split('r')

['Sau', 'abh Vaichal']

In [124]:
name.split(' ')

['Saurabh', 'Vaichal']

In [156]:
st = 'SAm Print only the words that start with s in this sentence'

In [157]:
st.split()

['SAm',
 'Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [127]:
s = st.split()

In [128]:
len(s)

11

In [129]:
s('%s')

TypeError: 'list' object is not callable

In [130]:
s['%s']

TypeError: list indices must be integers or slices, not str

In [159]:
##Answer to question 1 
for a in st.split():
    if a[0].lower()=='s':
        print(a)

SAm
start
s
sentence

In [1]:
range(0,11,2)

range(0, 11, 2)

In [134]:
print(range(0,11,2))

range(0, 11, 2)

In [135]:
for a in range(0,11,2):
    print(a)

0
2
4
6
8
10

In [136]:
int(48/10)

4

In [141]:
list3 = [num for num in range(1,50) if num%3 ==0 ]

In [142]:
list3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [143]:
st = 'Print every word in this sentence that has an even number of letters'

In [144]:
st.split()

['Print',
 'every',
 'word',
 'in',
 'this',
 'sentence',
 'that',
 'has',
 'an',
 'even',
 'number',
 'of',
 'letters']

In [166]:
for a in st.split():
    if len(a)%2 == 0:
        print("'"+a +"'" ' has {} number of letters'.format(len(a)))

'only' has 4 number of letters
'that' has 4 number of letters
'with' has 4 number of letters
'in' has 2 number of letters
'this' has 4 number of letters
'sentence' has 8 number of letters


Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [147]:
for a in range(1,101):
    if a%3==0 and a%5==0:
        print("FizzBuzz")
    elif a%3 == 0:
        print("Fizz")
    elif a%5 == 0:
        print("Buzz")
    else:
        print(a)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

Use List Comprehension to create a list of the first letters of every word in the string below:

In [148]:
st = 'Create a list of the first letters of every word in this string'

In [169]:
list_st = [print("'"+a[0]+"'" ' is first alphabet of this word') for a in st.split()]

'S' is first alphabet of this word
'P' is first alphabet of this word
'o' is first alphabet of this word
't' is first alphabet of this word
'w' is first alphabet of this word
't' is first alphabet of this word
's' is first alphabet of this word
'w' is first alphabet of this word
's' is first alphabet of this word
'i' is first alphabet of this word
't' is first alphabet of this word
's' is first alphabet of this word

In [170]:
list_st

[None, None, None, None, None, None, None, None, None, None, None, None]

In [1]:
import pandas

2

In [3]:
def addition_1(a,b):
    print (a+b)
    return a+b

In [4]:
a = addition_1(3,109)

112

In [5]:
a

112

In [6]:
sqrt(a)

NameError: name 'sqrt' is not defined

In [7]:
a**(1/2)

10.583005244258363

In [8]:
a%%(1/2)

SyntaxError: invalid syntax (<ipython-input-8-e586d386001b>, line 1)

In [28]:
def dog_check(a):
    '''
    This function tells whether your string has the word dog
    '''
    if 'dog' in a.lower():
        return True
    else: 
        return False

In [24]:
dog_check('Dognition is unknown')

True

In [26]:
'dog' in 'Dognition'.lower()

True

In [27]:
'dog' in 'Godo'.lower()

False

In [29]:
help(dog_check)

Help on function dog_check in module __main__:

dog_check(a)
    This function tells whether your string has the word dog

In [31]:
dictionary = {"number": 'one', "fruit": 'apple'}

In [32]:
def myfunc(**kwargs):
    if kwargs in 'aeiou':
        return 'ok'
    else:
        return 'not ok'

In [33]:
myfunc("TOday is the greatest day")

TypeError: myfunc() takes 0 positional arguments but 1 was given

In [35]:
def myfunc(*arg):
    res = []
    for a in arg:
        if a%2==0:
            res.append(a)
    return res

In [1]:
def myfunc(*arg):
    for a in arg:
        print(a)

In [2]:
myfunc('Hello')

Hello

In [43]:
def myfunc(*arg):
    string = ''
    for a in range(0, len(arg[0])):
        string[a] = arg[0][a]

In [63]:
def myfunc(string):
    alist = [a for a in string]
    for a in range(0, len(string)):
        if a %2 == 1:
            alist[a]= alist[a]
        else: 
            alist[a]=alist[a].upper()
    return ''.join(alist)

myfunc('Varad')

In [48]:
print(string[2])

u

In [18]:
str.split()

['Saurabh']

In [19]:
str[0]

'S'

In [21]:
str[1]

'a'

Challenging Problems:

James bond problem:

In [1]:
def bond(arr):
    n=len(arr)
    s=0
    r=0
    q=0
    p=0
    for a in range(0,n):
        if arr[a]==0:
            r=a
            s+=1
        elif arr[a]==7:
            p+=1
            q=a
    if q>r and s>=2:
        return True
    else:
        return False

In [8]:
bond([1,2,3,0, 8,9,10, 7])

False

In [18]:
def bond007(arr):
    code = [0,0,7,'x']
    for a in arr:
        if a==code[0]:
            code.pop(0)
    return len(code)==1

In [11]:
num = [1,2,3,4,5]

In [12]:
num.pop(1)

2

In [13]:
num

[1, 3, 4, 5]

In [19]:
bond007([1,2,3,4,5,0,5,0,8,0,7])

True

In [32]:
def primes_count(num):
    primes = [2]
    x=3
    
    if num < 2:
        return 0
    
    while x<=num:
        for y in range(3,x,2):
            if x%y==0:
                x+=2
                break
        else: 
            primes.append(x)
            x+=2
            
    return len(primes)

In [34]:
primes_count(-3)

0

In [29]:
primes_count(7)

4

In [31]:
primes_count(100)

25