In [5]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        if round(a/b)==0:
            return a
        else:
            return b
    else:
        if round(a/b)==0:
            return b
        else:
            return a

In [10]:
lesser_of_two_evens(2,999)

999

In [11]:
def ac(text):
    return text.split()

In [21]:
lis = [a for a in ac('Saurabh Vaichal')[0]][0]

In [22]:
lis

'S'

In [16]:
lis[0]

'S'

In [17]:
lis[0].lower()

's'

In [18]:
lis1 = lis[0]

In [19]:
lis2 = lis[1]

In [20]:
lis1 == lis2

False

In [26]:
def Firstletterfunc(text): 
    return [a for a in text.split()[0]][0] == [a for a in text.split()[1]][0]

In [28]:
func('Saurabh S Vaichal')

True

In [30]:
def func_20(a,b):
    if a==20:
        return a
    elif b==20: 
        return b
    elif a+b == 20:
        return True
    else:
        return False

In [31]:
func_20(15,5)

True

In [32]:
func_20(15,20)

20

In [33]:
func_20(200, 150)

False

In [35]:
func_20(19, 1)

True

In [36]:
def func1_4(text):
    lis1 = [a for a in text]
    lis1[0] = lis1[0].upper()
    lis1[3] = lis1[3].upper()
    return ''.join(lis1)

In [38]:
type(func1_4('saurabh'))

str

In [39]:
type('S')

str

In [73]:
def yoda(text):
    text1 = text.split()
    return text1[-3]

In [74]:
yoda('I am home')

'I'

In [109]:
def yoda(text):
    text1 = text.split()
    text2= text.split()
    n = len(text1)
    for a in range(0,n):
        text1[-(1+a)]=text2[a]
    return ' '.join(text1)

In [110]:
yoda('Make America Great again said by the greatest President')

'President greatest the by said again Great America Make'

In [118]:
def within(a):
    if a>=90 and a<=110:
        return True
    elif a>=190 and a <= 210:
        return True
    else: 
        return False

In [121]:
within(104)

True

In [123]:
type([1,2,3])

list

In [124]:
a = [1,2,3]

In [126]:
len(a)

3

In [148]:
def func33(list1):
    n=len(list1)
    for a in range(0,n-1):
        if list1[a]==list1[a+1] and list1[a]==3:
            return True
    for a in range(0,n-1):
        if list1[a]!=list1[a+1]:
            return False

In [152]:
func33([1,1,3,1, 3, 1, 3, 3])

True

In [261]:
def paper_doll(text):
    res = ''
    for char in text:
        res+=char*3
    return res

In [263]:
paper_doll('Hello')

'HHHeeellllllooo'

In [185]:
def blackjack(a,b,c):
    s = a+b+c
    if s<=21:
        return s
    if s>=21 and (a==11 or b == 11 or c == 11):
        s=s-10
        return s
    elif s>=21:
        return 'BUST'

In [186]:
blackjack(9,9,9)

'BUST'

In [187]:
blackjack(9,11,9)

19

In [247]:
def summer_69(*args):
    if 6 in args:
        a1=args.index(6)
        a2=args.index(9)
        s=0
        for a in range(a1,(a2+1)):
            s+=args[a]
            print(s)        
        return (sum(args)-s)

    else:
        return sum(args)

In [250]:
summer_69(1,2,3,4, 6, 100, 203, 198, 20003, 9, 1, 1, 23, 54, 69)

6
106
309
507
20510
20519

158

###### sum(1:2)

sum(0:6)

In [192]:
sum(0:6)

SyntaxError: invalid syntax (<ipython-input-192-f8f11ada1057>, line 1)

In [193]:
sum(range(0,6))

15

In [205]:
lis = [1,2,3,4,5,6,7]

In [207]:
lis.index(0)

ValueError: 0 is not in list